.menu {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_item {
  margin: 0 17px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #b8becd;
  transition: color 0.2s;
  cursor: pointer;
}
.menu_item:hover {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #202336;
  transition: color 0.2s;
}

.btn_menu_outline {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  color: #fb8f1d;
  background-color: white;
  width: 132px;
  height: 44px;
  margin-left: 17px;
}
.btn_menu_outline:hover {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  color: white;
  background-color: #fb8f1d;
}
.btn_menu_outline:hover:hover {
  background-color: #fa8304;
}
.btn_menu_filled {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  color: white;
  background-color: #fb8f1d;
  width: 132px;
  height: 44px;
  margin-left: 18px;
}
.btn_menu_filled:hover {
  background-color: #fa8304;
}

.main {
  position: relative;
  margin-top: 80px;
}
.main_wrapper {
  display: flex;
  justify-content: space-between;
}
.main_content {
  display: flex;
  flex-direction: column;
}
.main_header {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  color: #202336;
  margin-top: 20px;
}
.main_dropdown_link {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #202336;
  margin-top: 74px;
}
.main_divider {
  width: 32px;
  height: 2px;
  background-color: #202336;
  margin-top: 21px;
}
.main_dropdown {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  margin-left: -12px;
}
.main_dropdown_wrapper_top {
  display: flex;
  justify-content: space-between;
}
.main_dropdown_wrapper_bottom {
  display: flex;
  justify-content: space-between;
}
.main_btn {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  color: white;
  background-color: #fb8f1d;
  width: 180px;
  height: 52px;
  margin-top: 51px;
}
.main_btn:hover {
  background-color: #fa8304;
}
.main_img_plus {
  transform: rotate(-5deg);
  position: absolute;
  top: 60px;
  left: 820px;
}
.main_img_plus img {
  width: 20px;
  height: 20px;
}
.main_image {
  position: relative;
}
.main_image img {
  position: absolute;
  right: -85px;
  width: 687px;
  height: 654px;
}
.main_img_circle_first {
  position: absolute;
  top: 320px;
  left: 140px;
}
.main_img_circle_first img {
  width: 25px;
  height: 25px;
}
.main_img_circle_second {
  position: absolute;
  top: 660px;
  left: 873px;
}
.main_img_circle_second img {
  width: 20px;
  height: 20px;
}

.dropdown_item {
  margin: 10px;
  cursor: pointer;
}

.dropdown {
  width: 220px;
  height: 52px;
  border: 1px solid #afb0b9;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.promo {
  margin-top: 333px;
}
.promo_image {
  position: relative;
  flex-basis: 50%;
}
.promo_image img {
  position: absolute;
  left: -70px;
}
.promo_container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.promo_content_wrapper {
  flex-basis: 50%;
  margin-left: 122px;
}
.promo_content_subheader {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  color: #000000;
  margin-top: 120px;
  width: 480px;
}
.promo_content_text {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  margin-top: 20px;
  width: 480px;
}
.promo_btn {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  color: white;
  background-color: #fb8f1d;
  width: 164px;
  height: 48px;
  margin-top: 40px;
}
.promo_btn:hover {
  background-color: #fa8304;
}
.promo_img_circle {
  position: absolute;
  left: 1020px;
  top: 385px;
}
.promo_img_circle img {
  width: 20px;
  height: 20px;
}
.promo_img_plus {
  position: absolute;
  left: 630px;
  top: -50px;
}
.promo_img_plus img {
  width: 20px;
  height: 20px;
}

.features_container {
  margin: 392px 50px 0 50px;
}
.features_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}
.features_subheader {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  color: #000000;
}
.features_link {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #fb8f1d;
}
.features_link img {
  padding-left: 11px;
}
.features_card {
  width: 261px;
  height: 332px;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
}
.features_card:nth-child(1) {
  background: url(../img/image\ 1.png);
}
.features_card:nth-child(2) {
  background: url(../img/image2.png);
}
.features_card:nth-child(3) {
  background: url(../img/image3.png);
}
.features_card:nth-child(4) {
  background: url(../img/imge4.png);
}
.features_card_descr {
  width: 120px;
  height: 56px;
  left: 240px;
  top: 2315px;
  background: #ffffff;
  border-radius: 0px 6px 0px 0px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 17px;
  padding: 11px 0 5px 0;
}
.features_card_descr span {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  font-size: 15px;
}
.features_card_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features_img_container {
  position: relative;
}
.features_img_plus {
  position: absolute;
  transform: rotate(-3deg);
  left: -100px;
  top: -150px;
}
.features_img_plus img {
  width: 20px;
  height: 20px;
}
.features_img_circle_first {
  position: absolute;
  right: 700px;
  top: 40px;
}
.features_img_circle_first img {
  width: 20px;
  height: 20px;
}
.features_img_circle_second {
  position: absolute;
  right: 230px;
  top: -500px;
}
.features_img_circle_second img {
  width: 20px;
  height: 20px;
}

.guides_container {
  margin-top: 290px;
  display: flex;
  justify-content: space-between;
}
.guides_content_subheader {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  color: #000000;
  margin-top: 150px;
}
.guides_content_text {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  width: 450px;
  margin-top: 20px;
}
.guides_btn {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  color: white;
  background-color: #fb8f1d;
  width: 164px;
  height: 48px;
  margin-top: 40px;
}
.guides_btn:hover {
  background-color: #fa8304;
}
.guides_img_container {
  position: relative;
}
.guides_img_plus_first {
  position: absolute;
  top: -130px;
  left: 470px;
  transform: rotate(10deg);
}
.guides_img_plus_first img {
  width: 20px;
  height: 20px;
}
.guides_img_plus_second {
  position: absolute;
  top: -500px;
  right: -10px;
}
.guides_img_plus_second img {
  width: 20px;
  height: 20px;
}
.guides_img_circle {
  position: absolute;
  top: -470px;
  left: 50px;
}
.guides_img_circle img {
  width: 20px;
  height: 20px;
}
.guides_image {
  position: relative;
}
.guides_image img {
  width: 600px;
  height: 542px;
  position: absolute;
  right: 110px;
  top: -40px;
}

/*# sourceMappingURL=style.css.map */
