.menu {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_item {
  margin: 0 17px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #b8becd;
  transition: color 0.2s;
  cursor: pointer;
}
.menu_item:hover {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #202336;
  transition: color 0.2s;
}

.btn_menu_outline {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  color: #fb8f1d;
  background-color: white;
  width: 132px;
  height: 44px;
  margin-left: 17px;
}
.btn_menu_outline:hover {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  color: white;
  background-color: #fb8f1d;
}
.btn_menu_outline:hover:hover {
  background-color: #fa8304;
}
.btn_menu_filled {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  color: white;
  background-color: #fb8f1d;
  width: 132px;
  height: 44px;
  margin-left: 18px;
}
.btn_menu_filled:hover {
  background-color: #fa8304;
}

.main {
  position: relative;
  margin-top: 80px;
}
.main_wrapper {
  display: flex;
  justify-content: space-between;
}
.main_content {
  display: flex;
  flex-direction: column;
}
.main_header {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  color: #202336;
  margin-top: 20px;
}
.main_dropdown_link {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #202336;
  margin-top: 74px;
}
.main_divider {
  width: 32px;
  height: 2px;
  background-color: #202336;
  margin-top: 21px;
}
.main_dropdown {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  margin-left: -12px;
}
.main_dropdown_wrapper_top {
  display: flex;
  justify-content: space-between;
}
.main_dropdown_wrapper_bottom {
  display: flex;
  justify-content: space-between;
}
.main_btn {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  color: white;
  background-color: #fb8f1d;
  width: 180px;
  height: 52px;
  margin-top: 51px;
}
.main_btn:hover {
  background-color: #fa8304;
}
.main_img_plus {
  transform: rotate(-5deg);
  position: absolute;
  top: 60px;
  left: 820px;
}
.main_img_plus img {
  width: 20px;
  height: 20px;
}
.main_image {
  position: relative;
}
.main_image img {
  position: absolute;
  right: -85px;
  width: 687px;
  height: 654px;
}
.main_img_circle_first {
  position: absolute;
  top: 320px;
  left: 140px;
}
.main_img_circle_first img {
  width: 25px;
  height: 25px;
}
.main_img_circle_second {
  position: absolute;
  top: 660px;
  left: 873px;
}
.main_img_circle_second img {
  width: 20px;
  height: 20px;
}

.dropdown_item {
  margin: 10px;
  cursor: pointer;
}

.dropdown {
  width: 220px;
  height: 52px;
  border: 1px solid #afb0b9;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.promo {
  margin-top: 333px;
}
.promo_image {
  position: relative;
  flex-basis: 50%;
}
.promo_image img {
  position: absolute;
  left: -70px;
}
.promo_container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.promo_content_wrapper {
  flex-basis: 50%;
  margin-left: 122px;
}
.promo_content_subheader {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  color: #000000;
  margin-top: 120px;
  width: 480px;
}
.promo_content_text {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  margin-top: 20px;
  width: 480px;
}
.promo_btn {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  color: white;
  background-color: #fb8f1d;
  width: 164px;
  height: 48px;
  margin-top: 40px;
}
.promo_btn:hover {
  background-color: #fa8304;
}
.promo_img_circle {
  position: absolute;
  left: 1020px;
  top: 385px;
}
.promo_img_circle img {
  width: 20px;
  height: 20px;
}
.promo_img_plus {
  position: absolute;
  left: 630px;
  top: -50px;
}
.promo_img_plus img {
  width: 20px;
  height: 20px;
}

.features_container {
  margin: 392px 50px 0 50px;
}
.features_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}
.features_subheader {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  color: #000000;
}
.features_link {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #fb8f1d;
}
.features_link img {
  padding-left: 11px;
}
.features_card {
  width: 261px;
  height: 332px;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
}
.features_card:nth-child(1) {
  background: url(../img/image\ 1.png);
}
.features_card:nth-child(2) {
  background: url(../img/image2.png);
}
.features_card:nth-child(3) {
  background: url(../img/image3.png);
}
.features_card:nth-child(4) {
  background: url(../img/imge4.png);
}
.features_card_descr {
  width: 120px;
  height: 56px;
  left: 240px;
  top: 2315px;
  background: #ffffff;
  border-radius: 0px 6px 0px 0px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 17px;
  padding: 11px 0 5px 0;
}
.features_card_descr span {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  font-size: 15px;
}
.features_card_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features_img_container {
  position: relative;
}
.features_img_plus {
  position: absolute;
  transform: rotate(-3deg);
  left: -100px;
  top: -150px;
}
.features_img_plus img {
  width: 20px;
  height: 20px;
}
.features_img_circle_first {
  position: absolute;
  right: 700px;
  top: 40px;
}
.features_img_circle_first img {
  width: 20px;
  height: 20px;
}
.features_img_circle_second {
  position: absolute;
  right: 230px;
  top: -500px;
}
.features_img_circle_second img {
  width: 20px;
  height: 20px;
}

.guides_container {
  margin: 290px 50px 0 50px;
  display: flex;
  justify-content: space-between;
}
.guides_content_subheader {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  color: #000000;
  margin-top: 150px;
}
.guides_content_text {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  width: 450px;
  margin-top: 20px;
}
.guides_btn {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  color: white;
  background-color: #fb8f1d;
  width: 164px;
  height: 48px;
  margin-top: 40px;
}
.guides_btn:hover {
  background-color: #fa8304;
}
.guides_img_container {
  position: relative;
}
.guides_img_plus_first {
  position: absolute;
  top: -130px;
  left: 470px;
  transform: rotate(10deg);
}
.guides_img_plus_first img {
  width: 20px;
  height: 20px;
}
.guides_img_plus_second {
  position: absolute;
  top: -500px;
  right: -10px;
}
.guides_img_plus_second img {
  width: 20px;
  height: 20px;
}
.guides_img_circle {
  position: absolute;
  top: -470px;
  left: 50px;
}
.guides_img_circle img {
  width: 20px;
  height: 20px;
}
.guides_image {
  position: relative;
}
.guides_image img {
  width: 600px;
  height: 542px;
  position: absolute;
  right: 50px;
  top: -40px;
}

.testimonials_container {
  margin: 250px 50px 0 50px;
  display: flex;
  justify-content: space-between;
}
.testimonials_content_subheader {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  color: #000000;
}
.testimonials_content_stars_wrapper {
  margin-top: 145px;
}
.testimonials_content_stars_wrapper img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.testimonials_content_quote {
  font-family: "Mulish", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  width: 450px;
  margin-top: 30px;
}
.testimonials_content_name {
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #000000;
}
.testimonials_content_name span {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  margin-top: -20px;
}
.testimonials_image {
  background: url(../img/photo.png);
  width: 384px;
  height: 491px;
  position: absolute;
  left: 1000px;
  bottom: -2995px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 2;
}
.testimonials_image_wrapper {
  position: relative;
}
.testimonials_nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.testimonials_nav_wrapper_main {
  width: 132px;
  height: 60px;
  background-color: white;
  border-radius: 16px 0px 0px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.testimonials_nav_first {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d7d7d7;
}
.testimonials_nav_second {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  margin-left: 22px;
}
.testimonials_img_container {
  position: relative;
}
.testimonials_img_circle_first {
  z-index: 3;
  position: absolute;
  left: -150px;
  top: -200px;
}
.testimonials_img_circle_first img {
  width: 22px;
  height: 22px;
}
.testimonials_img_circle_second {
  position: absolute;
  right: 200px;
  top: -400px;
}
.testimonials_img_circle_second img {
  width: 42px;
  height: 42px;
}
.testimonials_img_plus {
  position: absolute;
  left: 680px;
  top: 90px;
  z-index: 1;
}
.testimonials_img_plus img {
  width: 32px;
  height: 32px;
}

.stories_container {
  margin: 450px 50px 0 50px;
}
.stories_content {
  display: flex;
  justify-content: space-between;
}
.stories_content_subheader {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  color: #000000;
}
.stories_content_link {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #fb8f1d;
}
.stories_content_link img {
  padding-left: 11px;
}
.stories_card_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.stories_card_img img {
  width: 266px;
  height: 266px;
  border-radius: 8px 8px 0 0;
}
.stories_card_subheader {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  width: 266px;
  margin-top: 14px;
}
.stories_card_text {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  color: #7d7987;
  width: 266px;
  margin-top: 14px;
}
.stories_card_info {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #fb8f1d;
  margin-top: 24px;
}
.stories_img_container {
  position: relative;
}
.stories_img_circle_first {
  position: absolute;
  left: -120px;
  top: -190px;
}
.stories_img_circle_first img {
  width: 20px;
  height: 20px;
}
.stories_img_circle_second {
  position: absolute;
  top: 60px;
  right: 420px;
}
.stories_img_circle_second img {
  width: 20px;
  height: 20px;
}
.stories_img_plus {
  position: absolute;
  top: -670px;
  left: 420px;
}
.stories_img_plus img {
  width: 20px;
  height: 20px;
}

.footer {
  height: 482px;
  background-color: #f9f9fb;
  margin-top: 322px;
}
.footer_text_wrapper {
  padding-top: 78px;
  display: flex;
  justify-content: space-between;
}
.footer_info {
  width: 390px;
}
.footer_info_plan {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #848484;
  line-height: 28px;
  margin-top: 26px;
}
.footer_info_copyright {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #848484;
  font-size: 17px;
  margin-top: 55px;
}
.footer_destination {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 60px;
  color: #000000;
}
.footer_destination_item {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #848484;
}
.footer_shop {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 60px;
  color: #000000;
}
.footer_shop_item {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #848484;
}
.footer_interests {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 60px;
  color: #000000;
}
.footer_interests_item {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #848484;
}
.footer_divider {
  width: 1300px;
  height: 0.6px;
  background-color: #c4c4c4;
  margin-top: 80px;
}
.footer_social_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.footer_social_img_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

/*# sourceMappingURL=style.css.map */
