@import "./mixins.scss";
@import "./variables.scss";

// === HEADER === //

.menu {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_item {
        margin: 0 17px;
        @include header_silver;
        &:hover {
            @include header_active;
        }
        cursor: pointer;
    }
}

.btn_menu {
    &_outline {
        @include button_outline;
        width: 132px;
        height: 44px;
        margin-left: 17px;
    }
    &_filled {
        @include button_filled;
        width: 132px;
        height: 44px;
        margin-left: 18px;
    }
}

// === MAIN === //
.main {
    position: relative;
    margin-top: 80px;
    &_wrapper {
        display: flex;
        justify-content: space-between;
    }
    &_content {
        display: flex;
        flex-direction: column;
    }
    &_header {
        @include header;
        margin-top: 20px;
    }
    &_dropdown_link {
        @include form_label;
        margin-top: 74px;
    }
    &_divider {
        width: 32px;
        height: 2px;
        background-color: $header_black;
        margin-top: 21px;
    }
    &_dropdown {
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        margin-left: -12px;
        &_wrapper_top {
            display: flex;
            justify-content: space-between;
        }
        &_wrapper_bottom {
            display: flex;
            justify-content: space-between;
        }
    }
    &_btn {
        @include button_filled;
        width: 180px;
        height: 52px;
        margin-top: 51px;
    }
    &_img_plus {
        img {
            width: 20px;
            height: 20px;
        }
        transform: rotate(-5deg);
        position: absolute;
        top: 60px;
        left: 820px;
    }
    &_image {
        position: relative;
        img {
            position: absolute;
            right: -85px;
            width: 687px;
            height: 654px;
        }
    }
    &_img_circle_first {
        img {
            width: 25px;
            height: 25px;
        }
        position: absolute;
        top: 320px;
        left: 140px;
    }
    &_img_circle_second {
        img {
            width: 20px;
            height: 20px;
        }
        position: absolute;
        top: 660px;
        left: 873px;
    }
}
.dropdown_item {
    margin: 10px;
    cursor: pointer;
}
.dropdown {
    width: 220px;
    height: 52px;
    border: 1px solid $silver_border;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
// === PROMO === //
.promo {
    margin-top: 333px;
    &_image {
        position: relative;
        flex-basis: 50%;
        img {
            position: absolute;
            left: -70px;
        }
    }
    &_container {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &_content {
        &_wrapper {
            flex-basis: 50%;
            margin-left: 122px;
        }
        &_subheader {
            @include subheader;
            margin-top: 120px;
            width: 480px;
        }
        &_text {
            @include main_text;
            margin-top: 20px;
            width: 480px;
        }
    }
    &_btn {
        @include button_filled;
        width: 164px;
        height: 48px;
        margin-top: 40px;
    }
    &_img {
        &_circle {
            img {
                width: 20px;
                height: 20px;
            }
            position: absolute;
            left: 1020px;
            top: 385px;
        }
        &_plus {
            img {
                width: 20px;
                height: 20px;
            }
            position: absolute;
            left: 630px;
            top: -50px;
        }
    }
}
// === FEATURES === //
.features {
    &_container {
        margin: 392px 50px 0 50px;
    }
    &_content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 56px;
    }
    &_subheader {
        @include subheader;
    }
    &_link {
        @include link;
        img {
            padding-left: 11px;
        }
    }
    &_card {
        width: 261px;
        height: 332px;
        border-radius: 8px;
        display: flex;
        align-items: flex-end;
        &:nth-child(1) {
            background: url(../img/image\ 1.png);
        }
        &:nth-child(2) {
            background: url(../img/image2.png);
        }
        &:nth-child(3) {
            background: url(../img/image3.png);
        }
        &:nth-child(4) {
            background: url(../img/imge4.png);
        }
        &_descr {
            width: 120px;
            height: 56px;
            left: 240px;
            top: 2315px;
            background: #ffffff;
            border-radius: 0px 6px 0px 0px;
            font-family: $inter;
            font-weight: 600;
            font-size: 17px;
            padding: 11px 0 5px 0;
            span {
                @include main_text;
                font-size: 15px;
            }
        }
        &_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &_img {
        &_container {
            position: relative;
        }
        &_plus {
            img {
                width: 20px;
                height: 20px;
            }
            position: absolute;
            transform: rotate(-3deg);
            left: -100px;
            top: -150px;
        }
        &_circle_first {
            img {
                width: 20px;
                height: 20px;
            }
            position: absolute;
            right: 700px;
            top: 40px;
        }
        &_circle_second {
            img {
                width: 20px;
                height: 20px;
            }
            position: absolute;
            right: 230px;
            top: -500px;
        }
    }
}

// === GUIDES === //

.guides {
    &_container {
        margin: 290px 50px 0 50px;
        display: flex;
        justify-content: space-between;
    }
    &_content {
        &_subheader {
            @include subheader;
            margin-top: 150px;
        }
        &_text {
            @include main_text;
            width: 450px;
            margin-top: 20px;
        }
    }
    &_btn {
        @include button_filled;
        width: 164px;
        height: 48px;
        margin-top: 40px;
    }
    &_img {
        &_container {
            position: relative;
        }
        &_plus_first {
            img {
                width: 20px;
                height: 20px;
            }
            position: absolute;
            top: -130px;
            left: 470px;
            transform: rotate(10deg);
        }
        &_plus_second {
            img {
                width: 20px;
                height: 20px;
            }
            position: absolute;
            top: -500px;
            right: -10px;
        }
        &_circle {
            img {
                width: 20px;
                height: 20px;
            }
            position: absolute;
            top: -470px;
            left: 50px;
        }
    }
    &_image {
        position: relative;
        img {
            width: 600px;
            height: 542px;
            position: absolute;
            right: 50px;
            top: -40px;
        }
    }
}

// === TESTIMONIALS === //

.testimonials {
    &_container {
        margin: 250px 50px 0 50px;
        display: flex;
        justify-content: space-between;
    }
    &_content {
        &_subheader {
            @include subheader;
        }
        &_stars_wrapper {
            img {
                width: 25px;
                height: 25px;
                margin-right: 15px;
            }
            margin-top: 145px;
        }
        &_quote {
            @include quote_text;
            width: 450px;
            margin-top: 30px;
        }
        &_name {
            margin-top: 40px;
            @include name;
            span {
                @include founder;
                margin-top: -20px;
            }
        }
    }
    &_image {
        background: url(../img/photo.png);
        width: 384px;
        height: 491px;
        position: absolute;
        left: 1000px;
        bottom: -2995px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        z-index: 2;
        &_wrapper {
            position: relative;
        }
    }
    &_nav {
        &_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            &_main {
                width: 132px;
                height: 60px;
                background-color: white;
                border-radius: 16px 0px 0px 0px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
            }
        }
        &_first {
            @include testimonials_nav;
            border: 2px solid #d7d7d7;
        }
        &_second {
            @include testimonials_nav;
            border: 2px solid $black;
            margin-left: 22px;
        }
    }
    &_img {
        &_container {
            position: relative;
        }
        &_circle {
            &_first {
                img {
                    width: 22px;
                    height: 22px;
                }
                z-index: 3;
                position: absolute;
                left: -150px;
                top: -200px;
            }
            &_second {
                img {
                    width: 42px;
                    height: 42px;
                }
                position: absolute;
                right: 200px;
                top: -400px;
            }
        }
        &_plus {
            img {
                width: 32px;
                height: 32px;
            }
            position: absolute;
            left: 680px;
            top: 90px;
            z-index: 1;
        }
    }
}
.stories {
    &_container {
        margin: 450px 50px 0 50px;
    }
    &_content {
        display: flex;
        justify-content: space-between;
        &_subheader {
            @include subheader;
        }
        &_link {
            @include link;
            img {
                padding-left: 11px;
            }
        }
    }
    &_card {
        &_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;
        }
        &_img {
            img {
                width: 266px;
                height: 266px;
                border-radius: 8px 8px 0 0;
            }
        }
        &_subheader {
            @include stories_subheader;
            width: 266px;
            margin-top: 14px;
        }
        &_text {
            @include stories_text;
            width: 266px;
            margin-top: 14px;
        }
        &_info {
            @include link;
            margin-top: 24px;
        }
    }
    &_img {
        &_container {
            position: relative;
        }
        &_circle_first {
            img {
                width: 20px;
                height: 20px;
            }
            position: absolute;
            left: -120px;
            top: -190px;
        }
        &_circle_second {
            img {
                width: 20px;
                height: 20px;
            }
            position: absolute;
            top: 60px;
            right: 420px;
        }
        &_plus {
            img {
                width: 20px;
                height: 20px;
            }
            position: absolute;
            top: -670px;
            left: 420px;
        }
    }
}
.footer {
    height: 482px;
    background-color: $silver_bg;
    margin-top: 322px;
    &_text_wrapper {
        padding-top: 78px;
        display: flex;
        justify-content: space-between;
    }
    &_info {
        width: 390px;
        &_plan {
            @include footer_list_item;
            line-height: 28px;
            margin-top: 26px;
        }
        &_copyright {
            @include footer_list_item;
            font-size: 17px;
            margin-top: 55px;
        }
    }
    &_destination {
        @include footer_list_label;
        &_item {
            @include footer_list_item;
        }
    }
    &_shop {
        @include footer_list_label;
        &_item {
            @include footer_list_item;
        }
    }
    &_interests {
        @include footer_list_label;
        &_item {
            @include footer_list_item;
        }
    }
    &_divider {
        width: 1300px;
        height: 0.6px;
        background-color: $silver_line;
        margin-top: 80px;
    }
    &_social {
        &_wrapper {
            display: flex;
            justify-content: center;
            margin-top: 35px;
        }
        &_img_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 250px;
        }
    }
}
