// === COLORS ==== //

$black: #000000;
$header_black: #202336;
$orange: #fb8f1d;
$silver_header: #b8becd;
$silver_border: #afb0b9;
$silver_text: #7d7987;
$silver_bg: #f9f9fb;
$silver_line: #c4c4c4;
$footer_text: #848484;
$input_text: #4a4c53;

// === FONTS ==== //

$inter: "Inter", sans-serif;
$mulish: "Mulish", sans-serif;
$playfair: "Playfair Display", serif;
